@import "../variable/variable";

.page-option-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 2px;

  .page-option-list-item {
    font-size: 16px;
    background-color: #1f1f1f;
    color: white;
    margin: 0 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    width: 65px;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #3f3f3f;
    }

    &.active {
      background-color: #FF9900;
      color: black;
    }
  }

  .function-page {
    padding: 0 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    color: #FF9900;

    i {
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: $mobile-width){
  .page-option-list-item {
    font-size: 12px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .page-option-list-item.page:not(.active) {
    display: none;
  }
  .function-page {
    padding: 0 14px;
  }
}