@import "../variable/variable";

.popular-video {
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;

    .video-image-wrapper {
    	margin-top: 15px;
    }

    .video-description {
    	padding-top: 5px;
    }

    .video-favorite-button {
    	display: none;
    }
}

@media screen and (max-width: $mobile-width) {
    .popular-video {
        margin: 0;
    }
}