
.video-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.video-list-item {
    width: 380px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;

    .video-title {
        position: absolute;
        font: 18px Roboto Arial sans-serif;
        font-weight: 900;
        width: 100%;
        height: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #c6c6c6;
        z-index: 100;
        word-spacing: -1.5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #FF9900;
            text-decoration-line: underline;
            font-size: 19px;
            white-space: normal;
        }
    }

    .video-description {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font: 14px Roboto Arial sans-serif;
        font-weight: bolder;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
        width: 100%;
        height: auto;
        line-height: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #606060;
        word-break: break-word;
    }

    .video-image-wrapper {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;

        .video-image {
        }

        .video-duration {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.8);
            margin: 4px;
            padding: 3px 4px;
            border-radius: 2px;
            letter-spacing: 0.5px;
            font-weight: 500;
        }
    }

    .video-favorite-button  {
        font-size: 16px;
        display: inline-flex;
        width: 20px;
        height: auto;
        align-self: flex-end;
        margin: 4px;
        color: #F783AC;
    }
}
