@import "../variable/variable";

$video-item-left-margin: 8px;
$video-list-left-padding: 10px;

.video-list-main {
    display: flex;
    flex-direction: column;

}

.popular-video {
    padding-right: $video-list-left-padding;
    padding-left: $video-list-left-padding;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-self: center;
    padding-right: $video-list-left-padding;
    padding-left: $video-list-left-padding;
}

.video-list-item {
    flex-basis: calc(100%/4 - #{$video-item-left-margin*2});
    height: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px $video-item-left-margin;
    cursor: pointer;

    .video-title {
        position: absolute;
        font: 18px Roboto Arial sans-serif;
        font-weight: 900;
        width: 100%;
        height: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #c6c6c6;
        z-index: 100;
        word-spacing: -1.5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: -10px;

        &:hover {
            color: #FF9900;
            text-decoration-line: underline;
            font-size: 19px;
            white-space: normal;
        }
    }

    .video-description {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font: 14px Roboto Arial sans-serif;
        font-weight: bolder;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
        width: 100%;
        height: auto;
        line-height: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #606060;
        word-break: break-word;
    }

    .video-image-wrapper {
        width: 100%;
        height: 280px;
        position: relative;
        overflow: hidden;

        .video-image {
            position: absolute;
            width: 100%;
            height: 340px;
            margin: 0;
            padding: 0;
            top: -30px;
            bottom: -30px;
        }

        .video-duration {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.8);
            margin: 4px;
            padding: 3px 4px;
            border-radius: 2px;
            letter-spacing: 0.5px;
            font-weight: 500;
        }
    }

    .video-favorite-button  {
        font-size: 16px;
        display: inline-flex;
        width: 20px;
        height: auto;
        align-self: flex-end;
        margin: 4px;
        color: #F783AC;
    }
}

@media screen and (max-width: 900px){
    .video-list-item {
        flex-basis: calc(100%/3 - #{$video-item-left-margin*2});
    }
}

@media screen and (max-width: 680px){
    .video-list {
        padding-left: 1px;
        padding-right: 1px;
    }
    .video-list-item {
        flex-basis: calc(100%/2 - #{3px*2});
        margin-right: 2px;
        margin-left: 2px;
    }
}

@media screen and (max-width: 400px){
    .video-list-item {
        flex-basis: calc(100%/1 - #{2px*2});
        flex-grow: 1;
        margin-right: 2px;
        margin-left: 2px;
    }
}
